<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{asset('asset/images/common/favicon.png')}}">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('asset/css/bootstrap/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('asset/fontawesome/css/all.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('asset/css/common/style.css')}}">

    {% block stylesheets %} {% endblock %}

    {% block javascripts %} {% endblock %}
</head>

<body>


<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a href="#" class="navbar-brand">&nbsp;</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarCollapse" class="navbar-collapse collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('product', {'id': 1, 'sid': 13}) }}">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('pdo-gen') }}">PDO Generator</a>

            </li>
        </ul>
    </div>
</nav>



<!-- Begin page content -->
{% block body %}{% endblock %}

<footer id="footer" class="mt-5 p-3 text-center">
    <div class="container">
        <span class="text-muted">© 2022 Copyright | It is free to use</span>
    </div>
</footer>


<script src="{{ asset('asset/js/bootstrap/bootstrap.js') }}"></script>

</body>
</html>